@import '../../../../styles/mixins';

.wrapper {
  width: var(--input-width-short);
  height: var(--input-height-admin);
  cursor: default;

  &.active {
    @include active-input;
    cursor: initial;
  }
}
