.deleteButton {
  width: var(--input-height-admin);
  height: var(--input-height-admin);
  align-self: flex-end;
  border-radius: var(--base-border-radius);
  background-color: var(--gray-color);

  &.disabled {
    color: var(--inactive-color);
  }
}
