@import '../../../styles/mixins.scss';

$category-field-width: 128px;

.wrapper {
  flex-grow: 1;
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: var(--size-mini);
  height: var(--input-height-admin);;
  padding-left: var(--size-standard);
  padding-right: var(--size-huge);
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--light-color);

  span {
    width: var(--input-width-short);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .category {
    width: #{$category-field-width};
  }

  .name {
    flex-grow: 1;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--fixed-bottom-panel-height) - var(--input-height-admin));
  padding-block: var(--size-standard);
  padding-inline: var(--size-standard);
  gap: var(--size-standard);
  overflow-y: scroll;
}

.item {
  display: flex;
  gap: var(--size-mini);

  .category {
    width: #{$category-field-width};

    &.active {
      @include active-input;
    }
  }

  .name {
    flex-grow: 1;
  }
}

.controlPanelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--fixed-bottom-panel-height);
  padding-inline: var(--size-standard);
  border-top: 1px solid var(--gray-color);
  background-color: var(--light-color);
}

.controlPanelBlock {
  display: flex;
  gap: var(--size-huge);
}

.confirmModal {
  text-align: center;

  .buttonsWrapper {
    display: flex;
    gap: var(--size-huge);
    margin-top: var(--size-huge);
  }
}
