@import 'reset';
@import 'variables.scss';

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: var(--base-font-size);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.section-wrapper {
  padding-inline: var(--layout-padding-inline);
}

.h2 {
  font-size: 64px;
  font-weight: 700;
}

.h3 {
  font-size: 42px;
  font-weight: 600;
}
