@import 'reset';
@import 'variables.scss';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--font-family-main);
  @include font-body;
  color: var(--font-black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

input,
select,
textarea {
  padding-inline: var(--size-mini);
  border: 1px solid var(--gray-color);
  border-radius: var(--base-border-radius);
  font-family: var(--font-family-main);
}

.layout-padding-inline {
  padding-inline: var(--layout-padding-inline);
}

.section-wrapper {
  margin-top: var(--size-huge);
}

.content-wrapper {
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.link {
  color: var(--link-color);
}
