@import 'reset';
@import 'variables.scss';

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: var(--base-font-size);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.section-wrapper {
  padding-inline: var(--layout-padding-inline);
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.section-wrapper {
  padding-inline: var(--layout-padding-inline);
}

.content-wrapper {
  max-width: var(--content-max-width);
  margin-top: var(--content-block-top);
  margin-inline: auto;
}

.link {
  color: var(--link-color);
}
