:root {
  // fonts
  --font-family-main: 'JetBrains Mono', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --base-font-size: 16px;
  --font-light-color: #f8f8f8;
  --font-black-color: #343434;
  --font-gray-color: #c4c4c4;

  // layout
  --layout-padding-inline: 24px;
  --content-max-width: 1200px;
  --content-max-width-slim: 768px;
  --content-block-top: 78px;

  // component
  --header-height: 64px;
  --button-min-width: 150px;
  --button-height: 38px;
  --input-height: 24px;
  --input-height-admin: 28px;
  --input-width-short: 78px;
  --input-product-id-width: 214px;
  --fixed-bottom-panel-height: 60px;
  --base-border-radius: 4px;

  // sizes
  --size-max: 32px;
  --size-huge: 24px;
  --size-standard: 16px;
  --size-mini: 8px;
  --size-micro: 4px;

  // colors
  --light-color: #fff;
  --dark-color: #343434;
  --semi-light-color: #ffffff80;
  --brand-color: #ff401d;
  --alert-color: #c92525;
  --alert-button-color: #c96d6d;
  --blue-color: #5b8fd3;
  --link-color: #0000ff;
  --gray-color: #c7c7c7;
  --inactive-color: #e3e3e3;
  --orange-color: #e38730;
  --yellow-color: #f0e300;
  --light-yellow: #fffad8;
}
