.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-min-widths);
  height: var(--button-height);
  padding-inline: var(--size-huge);
  border-radius: var(--size-mini);
  background-color: var(--brand-color);
  color: var(--light-font-color);
}

.outlined {
  background-color: transparent;
}
