.header {
  box-shadow: 0 10px 30px rgba(187, 191, 201, 0.25);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--content-max-width);
  height: var(--header-height);
  margin-inline: auto;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: var(--size-standard);
}

.logo {
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
}

.text {
  font-size: 24px;
  font-weight: 500;
}
