.wrapper {
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.item {
  display: flex;
  gap: var(--size-max);
  margin-top: var(--size-max);
}

.imageWrapper {
  width: 424px;
  height: 314px;
  border: 2px dashed var(--dark-color);

  img {
    position: relative;
    display: block;
    z-index: -1;
  }
}

.imageInfo {
  margin-top: var(--size-standard);

  dt {
    font-weight: 600;
  }
}
