.wrapper {
  height: 100%;
  flex-grow: 1;
  padding-block: var(--size-huge);
  padding-inline: var(--size-standard);
  overflow-y: scroll;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  display: flex;
  gap: var(--size-max);

  &:not(:first-child) {
    margin-top: 120px;
  }
}

.imageWrapper {
  width: 424px;
  height: 314px;
  border: 2px dashed var(--dark-color);

  img {
    position: relative;
    display: block;
    z-index: -1;
  }
}

.imageInfo {
  display: flex;
  gap: var(--size-standard);
  margin-top: var(--size-standard);

  dt {
    font-weight: 600;
  }
}

.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: var(--size-standard);
}

.categoriesWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-standard);
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: var(--size-mini);
}

.inputName {
  width: auto;
}

.inputsRow {
  display: flex;
  gap: var(--size-mini);
}

.inputProduct {
  width: 400px;
}

.inputId {
  width: var(--input-product-id-width);
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-standard);

  .leftSide,
  .rightSide {
    display: flex;
    gap: var(--size-standard);
  }
}
