$input-height: 32px;

.section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
}

.inputWrapper {
  display: flex;
  justify-content: center;
  padding-top: var(--size-huge);
  padding-bottom: var(--size-standard);

  .inputHolder {
    position: relative;
  }

  input {
    height: #{$input-height};
    width: 352px;
  }

  .spinner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: #{$input-height};
  }
}

.tableHeader {
  display: grid;
  grid-template-columns: 2fr 4fr 10fr 1fr 1fr 1fr 1fr;
  gap: var(--size-standard);
  margin-right: 17px;
  padding-bottom: var(--size-mini);
}

.listWrapper {
  flex-grow: 1;
  overflow-y: scroll;

  .item {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 4fr 10fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: var(--size-standard);
    padding-block: var(--size-mini);

    &:not(:last-child)::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--inactive-color);
    }
  }

  .cellId {
    display: flex;
    align-items: center;
    gap: var(--size-standard);
  }

  .cellName em {
    color: var(--brand-color);
  }

  .copyButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.paginationBlock {
  display: flex;
  justify-content: center;
  gap: var(--size-max);
  padding-block: var(--size-standard);
}
