.wrapper {
  flex-grow: 1;
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: var(--size-mini);
  height: var(--admin-input-height);;
  padding-left: var(--size-standard);
  padding-right: var(--size-huge);
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--light-color);

  span {
    width: var(--short-input-width);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .name {
    flex-grow: 1;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--admin-crud-panel-height) - var(--admin-input-height));
  padding-block: var(--size-standard);
  padding-inline: var(--size-standard);
  gap: var(--size-standard);
  overflow-y: scroll;
}

.item {
  display: flex;
  gap: var(--size-mini);

  &.active {
    input {
      border-width: 2px;
      border-color: var(--orange-color);
      cursor: initial;
    }
  }

  input {
    width: var(--short-input-width);
    height: var(--admin-input-height);
    cursor: default;

    &.name {
      flex-grow: 1;
    }
  }
}

.inputButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--short-input-width);
  height: var(--admin-input-height);
  padding-inline: var(--size-standard);
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--font-light-color);

  &.alert {
    background-color: var(--alert-button-color);
  }

  &.gray {
    background-color: var(--gray-color);
  }
}

.controlPanelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--admin-crud-panel-height);
  padding-inline: var(--size-standard);
  border-top: 1px solid var(--gray-color);
  background-color: var(--light-color);
}

.controlPanelBlock {
  display: flex;
  gap: var(--size-huge);
}

.createButton {
  background-color: var(--blue-color);
}
