.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-huge);
}

.input {
  width: var(--button-min-widths);
  height: var(--input-height);
}

.titleWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
}

.errorMessage {
  color: var(--alert-color);
}
